In [1]:
import pandas as pd
import numpy as np

In [2]:
cdtype ={'Zip_Code':str}

In [3]:
dp05_new = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\census data\dp05_pop_gender_age_estimates.csv', dtype=cdtype,index_col=0)

In [4]:
dp04_new = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\census data\dp04_new_housing.csv',dtype=cdtype,index_col=0)

In [5]:
dp03_new = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\census data\income_in_2020_inflation_adjusted_dollars.csv',dtype=cdtype,index_col=0)

In [6]:
dp05_2015 = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\census data\dp05_2015_pop_median_age_estimates.csv',dtype=cdtype,index_col=0)

In [7]:
square_miles_zip = pd.read_csv(r'C:\Users\dgarb\OneDrive\Desktop\Capstone Data\census data\Iowa  square miles  for each zip code copied.csv', encoding= 'unicode_escape',dtype={'ZIP Code':str})

In [8]:
dp05_new.head()

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,...,65_to_74_years,75_to_84_years,85_years_and_over,Median_age_(years),Under_18_years,16_years_and_over,18_years_and_over,21_years_and_over,62_years_and_over,65_years_and_over
0,50001,749.0,331.0,418.0,79.2,85.0,48.0,55.0,57.0,39.0,...,57.0,34.0,0.0,39.3,227.0,544.0,522.0,500.0,145.0,91.0
1,50002,"1,359",687,672,102.2,101,101,61,50,43,...,117,93,29,47.7,288,"1,087","1,071","1,046",295,239
2,50003,"7,872","3,929","3,943",99.6,473,661,608,371,385,...,663,376,114,39.6,"1,992","6,027","5,880","5,624","1,482","1,153"
3,50005,"1,060",462,598,77.3,44,98,39,66,18,...,55,76,145,42.9,212,864,848,806,299,276
4,50006,"1,596",821,775,105.9,99,92,130,60,43,...,127,94,30,41.4,362,"1,268","1,234","1,201",334,251

In [9]:
dp04_new.head()

,Zip_Code,HOUSING_TENURE,Occupied_housing_units,Owner-occupied,Renter-occupied,Average_household_size_of_owner-occupied_unit,Average_household_size_of_renter-occupied_unit,VALUE,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_(dollars)
0,50001,HOUSING_TENURE,266,233,33,2.73,3.42,VALUE,233,5,23,35,32,49,73,16,0,"252,600"
1,50002,HOUSING_TENURE,595,438,157,2.38,1.96,VALUE,438,36,78,131,71,46,9,62,5,"124,800"
2,50003,HOUSING_TENURE,"3,075","2,429",646,2.66,1.90,VALUE,"2,429",113,134,248,265,502,730,382,55,"292,500"
3,50005,HOUSING_TENURE,380,307,73,2.93,2.18,VALUE,307,36,122,90,12,41,6,0,0,"99,300"
4,50006,HOUSING_TENURE,687,470,217,2.27,2.45,VALUE,470,89,142,110,44,81,2,0,2,"101,000"

In [10]:
dp03_new.head()

,Zip_Code,OCCUPATION,Civilian_employed_population_16_years_and_over,"Management,_business,_science,_and_arts_occupations",Service_occupations,Sales_and_office_occupations,"Natural_resources,_construction,_and_maintenance_occupations","Production,_transportation,_and_material_moving_occupations",INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS),Total_households,...,"$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_or_more",Median_household_income_(dollars)
0,50001,OCCUPATION,357,207,24,64,20,42,INCOME,266,...,29,3,5,30,44,37,75,21,22,"89,773"
1,50002,OCCUPATION,724,245,77,196,83,123,INCOME,595,...,3,39,82,110,78,72,113,18,49,"64,531"
2,50003,OCCUPATION,"4,232","2,073",553,951,429,226,INCOME,"3,075",...,72,187,146,269,513,406,691,258,408,"88,875"
3,50005,OCCUPATION,474,59,210,72,22,111,INCOME,380,...,0,26,98,49,92,73,39,2,0,"56,250"
4,50006,OCCUPATION,859,268,118,168,153,152,INCOME,687,...,22,66,57,129,133,103,114,15,16,"56,528"

In [11]:
dp05_2015.head()

,Zip_Code,Total_population_2015,Median_age_2015,18_years_and_over_2015,21_years_and_over_2015
0,50001,734.0,33.8,495.0,480.0
1,50002,"1,442",42,"1,094","1,070"
2,50003,"7,109",42.5,"5,242","5,115"
3,50005,861.0,44.9,641.0,618.0
4,50006,"1,556",44.8,"1,234","1,192"

In [12]:
square_miles_zip.head()

,ZIP Code,City,County,Land Area (Sq. Meters),Land Area (Sq. Miles),Land Area (Sq. Kilometers)
0,50001,"Ackworth, Sandyville",Warren County,"62,132,100",24,62
1,50002,Adair,"Adair County, Guthrie County","279,020,000",108,279
2,50003,"Adel, De Soto, Van Meter, Waukee",Dallas County,"296,262,000",114,296
3,50005,Albion,Marshall County,"69,351,800",27,69
4,50006,"Alden, Buckeye, Popejoy","Franklin County, Hardin County","317,609,000",123,318

In [13]:
square_miles_zip.columns = square_miles_zip.columns.str.replace(' ','_')

In [14]:
square_miles_zip.head()

,ZIP_Code,City,County,Land_Area_(Sq._Meters),Land_Area_(Sq._Miles),Land_Area_(Sq._Kilometers)
0,50001,"Ackworth, Sandyville",Warren County,"62,132,100",24,62
1,50002,Adair,"Adair County, Guthrie County","279,020,000",108,279
2,50003,"Adel, De Soto, Van Meter, Waukee",Dallas County,"296,262,000",114,296
3,50005,Albion,Marshall County,"69,351,800",27,69
4,50006,"Alden, Buckeye, Popejoy","Franklin County, Hardin County","317,609,000",123,318

In [15]:
square_miles_zip.shape

(918, 6)

In [16]:
dp05_2015.shape

(935, 5)

In [17]:
dfs = [ dp05_new, dp05_2015, dp03_new, dp04_new] 
census = pd.concat([df.set_index('Zip_Code') for df in dfs], axis=1)

In [18]:
census = census.reset_index()

In [19]:
census.head()

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,...,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_(dollars)
0,50001,749.0,331.0,418.0,79.2,85.0,48.0,55.0,57.0,39.0,...,233,5,23,35,32,49,73,16,0,"252,600"
1,50002,"1,359",687,672,102.2,101,101,61,50,43,...,438,36,78,131,71,46,9,62,5,"124,800"
2,50003,"7,872","3,929","3,943",99.6,473,661,608,371,385,...,"2,429",113,134,248,265,502,730,382,55,"292,500"
3,50005,"1,060",462,598,77.3,44,98,39,66,18,...,307,36,122,90,12,41,6,0,0,"99,300"
4,50006,"1,596",821,775,105.9,99,92,130,60,43,...,470,89,142,110,44,81,2,0,2,"101,000"

In [20]:
square_miles_zip.head(2)

,ZIP_Code,City,County,Land_Area_(Sq._Meters),Land_Area_(Sq._Miles),Land_Area_(Sq._Kilometers)
0,50001,"Ackworth, Sandyville",Warren County,"62,132,100",24,62
1,50002,Adair,"Adair County, Guthrie County","279,020,000",108,279

# Iowa Land area in square miles, 2010 by County
County	Value
Adair	569.27
Adams	423.44
Allamakee	639.08
Appanoose	497.29
Audubon	442.96
Benton	716.27
Black Hawk	565.77
Boone	571.57
Bremer	435.48
Buchanan	571.02
Buena Vista	574.92
Butler	580.13
Calhoun	569.97
Carroll	569.44
Cass	564.27
Cedar	579.44
Cerro Gordo	568.31
Cherokee	576.91
Chickasaw	504.38
Clarke	431.17
Clay	567.24
Clayton	778.54
Clinton	694.92
Crawford	714.19
Dallas	588.45
Davis	502.19
Decatur	531.88
Delaware	577.76
Des Moines	416.12
Dickinson	380.61
Dubuque	608.31
Emmet	395.88
Fayette	730.81
Floyd	500.63
Franklin	581.97
Fremont	511.15
Greene	569.57
Grundy	501.86
Guthrie	590.62
Hamilton	576.75
Hancock	571.01
Hardin	569.31
Harrison	696.85
Henry	434.33
Howard	473.25
Humboldt	434.35
Ida	431.51
Iowa	586.46
Jackson	636.04
Jasper	730.42
Jefferson	435.51
Johnson	614.04
Jones	575.62
Keokuk	579.18
Kossuth	972.72
Lee	517.52
Linn	716.88
Louisa	401.77
Lucas	430.59
Lyon	587.65
Madison	561.01
Mahaska	570.86
Marion	554.53
Marshall	572.50
Mills	437.44
Mitchell	469.13
Monona	694.07
Monroe	433.72
Montgomery	424.10
Muscatine	437.47
Osceola	398.68
Page	534.94
Palo Alto	563.84
Plymouth	862.89
Pocahontas	577.24
Polk	573.80
Pottawattamie	950.28
Poweshiek	584.93
Ringgold	535.50
Sac	575.01
Scott	458.09
Shelby	590.78
Sioux	768.33
Story	572.82
Tama	721.01
Taylor	531.90
Union	423.65
Van Buren	484.79
Wapello	431.83
Warren	569.83
Washington	568.84
Wayne	525.44
Webster	715.62
Winnebago	400.49
Winneshiek	689.87
Woodbury	872.83
Worth	400.12
Wright	580.42

In [21]:
census.shape

(935, 66)

In [22]:
cols = list(census.columns)

In [23]:
new_cols = [col.strip() for col in cols]

In [24]:
census.columns = new_cols

In [25]:
pd.set_option('display.max_columns', None)
census.head()

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,Median_age_(years),Under_18_years,16_years_and_over,18_years_and_over,21_years_and_over,62_years_and_over,65_years_and_over,Total_population_2015,Median_age_2015,18_years_and_over_2015,21_years_and_over_2015,OCCUPATION,Civilian_employed_population_16_years_and_over,"Management,_business,_science,_and_arts_occupations",Service_occupations,Sales_and_office_occupations,"Natural_resources,_construction,_and_maintenance_occupations","Production,_transportation,_and_material_moving_occupations",INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS),Total_households,"Less_than_$10,000","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_or_more",Median_household_income_(dollars),HOUSING_TENURE,Occupied_housing_units,Owner-occupied,Renter-occupied,Average_household_size_of_owner-occupied_unit,Average_household_size_of_renter-occupied_unit,VALUE,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_(dollars)
0,50001,749.0,331.0,418.0,79.2,85.0,48.0,55.0,57.0,39.0,43.0,120.0,77.0,66.0,68.0,57.0,34.0,0.0,39.3,227.0,544.0,522.0,500.0,145.0,91.0,734.0,33.8,495.0,480.0,OCCUPATION,357,207,24,64,20,42,INCOME,266,0,29,3,5,30,44,37,75,21,22,"89,773",HOUSING_TENURE,266,233,33,2.73,3.42,VALUE,233,5,23,35,32,49,73,16,0,"252,600"
1,50002,"1,359",687,672,102.2,101,101,61,50,43,172,119,210,139,124,117,93,29,47.7,288,"1,087","1,071","1,046",295,239,"1,442",42,"1,094","1,070",OCCUPATION,724,245,77,196,83,123,INCOME,595,31,3,39,82,110,78,72,113,18,49,"64,531",HOUSING_TENURE,595,438,157,2.38,1.96,VALUE,438,36,78,131,71,46,9,62,5,"124,800"
2,50003,"7,872","3,929","3,943",99.6,473,661,608,371,385,608,"1,596",997,440,580,663,376,114,39.6,"1,992","6,027","5,880","5,624","1,482","1,153","7,109",42.5,"5,242","5,115",OCCUPATION,"4,232","2,073",553,951,429,226,INCOME,"3,075",125,72,187,146,269,513,406,691,258,408,"88,875",HOUSING_TENURE,"3,075","2,429",646,2.66,1.90,VALUE,"2,429",113,134,248,265,502,730,382,55,"292,500"
3,50005,"1,060",462,598,77.3,44,98,39,66,18,54,238,149,37,41,55,76,145,42.9,212,864,848,806,299,276,861.0,44.9,641.0,618.0,OCCUPATION,474,59,210,72,22,111,INCOME,380,1,0,26,98,49,92,73,39,2,0,"56,250",HOUSING_TENURE,380,307,73,2.93,2.18,VALUE,307,36,122,90,12,41,6,0,0,"99,300"
4,50006,"1,596",821,775,105.9,99,92,130,60,43,219,235,195,140,132,127,94,30,41.4,362,"1,268","1,234","1,201",334,251,"1,556",44.8,"1,234","1,192",OCCUPATION,859,268,118,168,153,152,INCOME,687,32,22,66,57,129,133,103,114,15,16,"56,528",HOUSING_TENURE,687,470,217,2.27,2.45,VALUE,470,89,142,110,44,81,2,0,2,"101,000"

In [26]:
census.columns

Index(['Zip_Code', 'Total_population', 'Male', 'Female',
       'Sex_ratio_(males_per_100_females)', 'Under_5_years', '5_to_9_years',
       '10_to_14_years', '15_to_19_years', '20_to_24_years', '25_to_34_years',
       '35_to_44_years', '45_to_54_years', '55_to_59_years', '60_to_64_years',
       '65_to_74_years', '75_to_84_years', '85_years_and_over',
       'Median_age_(years)', 'Under_18_years', '16_years_and_over',
       '18_years_and_over', '21_years_and_over', '62_years_and_over',
       '65_years_and_over', 'Total_population_2015', 'Median_age_2015',
       '18_years_and_over_2015', '21_years_and_over_2015', 'OCCUPATION',
       'Civilian_employed_population_16_years_and_over',
       'Management,_business,_science,_and_arts_occupations',
       'Service_occupations', 'Sales_and_office_occupations',
       'Natural_resources,_construction,_and_maintenance_occupations',
       'Production,_transportation,_and_material_moving_occupations',
       'INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS)',
       'Total_households', 'Less_than_$10,000', '$10,000_to_$14,999',
       '$15,000_to_$24,999', '$25,000_to_$34,999', '$35,000_to_$49,999',
       '$50,000_to_$74,999', '$75,000_to_$99,999', '$100,000_to_$149,999',
       '$150,000_to_$199,999', '$200,000_or_more',
       'Median_household_income_(dollars)', 'HOUSING_TENURE',
       'Occupied_housing_units', 'Owner-occupied', 'Renter-occupied',
       'Average_household_size_of_owner-occupied_unit',
       'Average_household_size_of_renter-occupied_unit', 'VALUE',
       'Owner-occupied_units', 'Less_than_$50,000', '$50,000_to_$99,999',
       '$100,000_to_$149,999', '$150,000_to_$199,999', '$200,000_to_$299,999',
       '$300,000_to_$499,999', '$500,000_to_$999,999', '$1,000,000_or_more',
       'Median_(dollars)'],
      dtype='object')

In [27]:
census.rename({'Median_(dollars)':'Median_Home_Market_Value'},axis=1, inplace=True)

In [28]:
census.head(2)

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,Median_age_(years),Under_18_years,16_years_and_over,18_years_and_over,21_years_and_over,62_years_and_over,65_years_and_over,Total_population_2015,Median_age_2015,18_years_and_over_2015,21_years_and_over_2015,OCCUPATION,Civilian_employed_population_16_years_and_over,"Management,_business,_science,_and_arts_occupations",Service_occupations,Sales_and_office_occupations,"Natural_resources,_construction,_and_maintenance_occupations","Production,_transportation,_and_material_moving_occupations",INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS),Total_households,"Less_than_$10,000","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_or_more",Median_household_income_(dollars),HOUSING_TENURE,Occupied_housing_units,Owner-occupied,Renter-occupied,Average_household_size_of_owner-occupied_unit,Average_household_size_of_renter-occupied_unit,VALUE,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_Home_Market_Value
0,50001,749.0,331.0,418.0,79.2,85.0,48.0,55.0,57.0,39.0,43.0,120.0,77.0,66.0,68.0,57.0,34.0,0.0,39.3,227.0,544.0,522.0,500.0,145.0,91.0,734.0,33.8,495.0,480.0,OCCUPATION,357,207,24,64,20,42,INCOME,266,0,29,3,5,30,44,37,75,21,22,"89,773",HOUSING_TENURE,266,233,33,2.73,3.42,VALUE,233,5,23,35,32,49,73,16,0,"252,600"
1,50002,"1,359",687,672,102.2,101,101,61,50,43,172,119,210,139,124,117,93,29,47.7,288,"1,087","1,071","1,046",295,239,"1,442",42,"1,094","1,070",OCCUPATION,724,245,77,196,83,123,INCOME,595,31,3,39,82,110,78,72,113,18,49,"64,531",HOUSING_TENURE,595,438,157,2.38,1.96,VALUE,438,36,78,131,71,46,9,62,5,"124,800"

In [38]:
census_combined = census.merge(square_miles_zip, how='left', left_on='Zip_Code', right_on='ZIP_Code' )

In [39]:
census_combined.head(2)

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,Median_age_(years),Under_18_years,16_years_and_over,18_years_and_over,21_years_and_over,62_years_and_over,65_years_and_over,Total_population_2015,Median_age_2015,18_years_and_over_2015,21_years_and_over_2015,OCCUPATION,Civilian_employed_population_16_years_and_over,"Management,_business,_science,_and_arts_occupations",Service_occupations,Sales_and_office_occupations,"Natural_resources,_construction,_and_maintenance_occupations","Production,_transportation,_and_material_moving_occupations",INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS),Total_households,"Less_than_$10,000","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_or_more",Median_household_income_(dollars),HOUSING_TENURE,Occupied_housing_units,Owner-occupied,Renter-occupied,Average_household_size_of_owner-occupied_unit,Average_household_size_of_renter-occupied_unit,VALUE,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_Home_Market_Value,ZIP_Code,City,County,Land_Area_(Sq._Meters),Land_Area_(Sq._Miles),Land_Area_(Sq._Kilometers)
0,50001,749.0,331.0,418.0,79.2,85.0,48.0,55.0,57.0,39.0,43.0,120.0,77.0,66.0,68.0,57.0,34.0,0.0,39.3,227.0,544.0,522.0,500.0,145.0,91.0,734.0,33.8,495.0,480.0,OCCUPATION,357,207,24,64,20,42,INCOME,266,0,29,3,5,30,44,37,75,21,22,"89,773",HOUSING_TENURE,266,233,33,2.73,3.42,VALUE,233,5,23,35,32,49,73,16,0,"252,600",50001,"Ackworth, Sandyville",Warren County,"62,132,100",24.0,62.0
1,50002,"1,359",687,672,102.2,101,101,61,50,43,172,119,210,139,124,117,93,29,47.7,288,"1,087","1,071","1,046",295,239,"1,442",42,"1,094","1,070",OCCUPATION,724,245,77,196,83,123,INCOME,595,31,3,39,82,110,78,72,113,18,49,"64,531",HOUSING_TENURE,595,438,157,2.38,1.96,VALUE,438,36,78,131,71,46,9,62,5,"124,800",50002,Adair,"Adair County, Guthrie County","279,020,000",108.0,279.0

In [41]:
np.sum(census_combined.County.isna())

17

In [42]:
census_combined[census_combined.County.isna()]

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,Median_age_(years),Under_18_years,16_years_and_over,18_years_and_over,21_years_and_over,62_years_and_over,65_years_and_over,Total_population_2015,Median_age_2015,18_years_and_over_2015,21_years_and_over_2015,OCCUPATION,Civilian_employed_population_16_years_and_over,"Management,_business,_science,_and_arts_occupations",Service_occupations,Sales_and_office_occupations,"Natural_resources,_construction,_and_maintenance_occupations","Production,_transportation,_and_material_moving_occupations",INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS),Total_households,"Less_than_$10,000","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_or_more",Median_household_income_(dollars),HOUSING_TENURE,Occupied_housing_units,Owner-occupied,Renter-occupied,Average_household_size_of_owner-occupied_unit,Average_household_size_of_renter-occupied_unit,VALUE,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_Home_Market_Value,ZIP_Code,City,County,Land_Area_(Sq._Meters),Land_Area_(Sq._Miles),Land_Area_(Sq._Kilometers)
21,50032,563.0,113.0,450.0,25.1,0.0,32.0,159.0,16.0,18.0,0.0,28.0,75.0,0.0,89.0,146.0,0.0,0.0,50.4,191.0,372.0,372.0,356.0,164.0,146.0,32,-,32,32,OCCUPATION,136,14,32,31,14,45,INCOME,240,0,0,101,41,53,13,32,0,0,0,"30,109",HOUSING_TENURE,240,240,0,2.35,-,VALUE,240,132,18,0,53,23,14,0,0,-,NaN,NaN,NaN,NaN,NaN,NaN
41,50057,288.0,163.0,125.0,130.4,0.0,10.0,67.0,0.0,0.0,5.0,89.0,25.0,25.0,27.0,30.0,10.0,0.0,40.0,77.0,211.0,211.0,211.0,67.0,40.0,353.0,13.9,170.0,168.0,OCCUPATION,155,91,0,0,53,11,INCOME,133,32,8,32,0,0,40,11,0,10,0,-,HOUSING_TENURE,133,133,0,2.17,-,VALUE,133,21,31,27,0,33,11,0,10,"138,400",NaN,NaN,NaN,NaN,NaN,NaN
74,50117,138.0,64.0,74.0,86.5,0.0,4.0,17.0,13.0,0.0,21.0,8.0,28.0,18.0,8.0,11.0,10.0,0.0,46.4,34.0,104.0,104.0,104.0,25.0,21.0,119.0,58.5,103.0,103.0,OCCUPATION,85,47,1,24,10,3,INCOME,56,6,10,5,6,4,8,5,7,5,0,"40,625",HOUSING_TENURE,56,42,14,2.50,2.36,VALUE,42,9,5,3,15,4,6,0,0,"170,000",NaN,NaN,NaN,NaN,NaN,NaN
83,50127,0,0,0,-,0,0,0,0,0,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,17,-,17,17,OCCUPATION,0,0,0,0,0,0,INCOME,0,0,0,0,0,0,0,0,0,0,0,-,HOUSING_TENURE,0,0,0,-,-,VALUE,0,0,0,0,0,0,0,0,0,-,NaN,NaN,NaN,NaN,NaN,NaN
134,50214,832.0,374.0,458.0,81.7,122.0,101.0,87.0,24.0,0.0,104.0,145.0,146.0,0.0,54.0,42.0,7.0,0.0,34.5,334.0,498.0,498.0,498.0,64.0,49.0,907.0,40.0,577.0,577.0,OCCUPATION,394,230,17,77,35,35,INCOME,274,7,0,38,15,36,41,0,102,0,35,"86,250",HOUSING_TENURE,274,261,13,3.14,-,VALUE,261,0,55,0,15,131,41,19,0,"252,400",NaN,NaN,NaN,NaN,NaN,NaN
170,50256,573.0,247.0,326.0,75.8,39.0,65.0,30.0,12.0,31.0,72.0,88.0,100.0,4.0,35.0,62.0,35.0,0.0,37.3,146.0,439.0,427.0,427.0,124.0,97.0,603.0,47.1,507.0,496.0,OCCUPATION,293,93,94,6,19,81,INCOME,236,6,5,13,12,36,44,41,36,9,34,"75,833",HOUSING_TENURE,236,205,31,2.49,2.03,VALUE,205,30,54,16,15,42,48,0,0,"157,800",NaN,NaN,NaN,NaN,NaN,NaN
269,50521,77.0,47.0,30.0,156.7,0.0,24.0,0.0,0.0,0.0,23.0,0.0,9.0,0.0,7.0,0.0,14.0,0.0,34.6,24.0,53.0,53.0,53.0,14.0,14.0,174.0,49.8,132.0,124.0,OCCUPATION,23,0,0,23,0,0,INCOME,46,32,0,7,7,0,0,0,0,0,0,"9,022",HOUSING_TENURE,46,0,46,-,1.67,VALUE,0,0,0,0,0,0,0,0,0,-,NaN,NaN,NaN,NaN,NaN,NaN
340,50612,331.0,146.0,185.0,78.9,12.0,17.0,0.0,0.0,0.0,31.0,37.0,21.0,80.0,44.0,78.0,11.0,0.0,59.1,29.0,302.0,302.0,302.0,133.0,89.0,314.0,50.4,290.0,283.0,OCCUPATION,148,77,8,18,8,37,INCOME,165,11,0,9,33,0,45,8,26,24,9,"68,565",HOUSING_TENURE,165,145,20,1.92,2.60,VALUE,145,0,0,0,33,64,31,17,0,"244,900",NaN,NaN,NaN,NaN,NaN,NaN
377,50664,35.0,20.0,15.0,133.3,6.0,0.0,0.0,0.0,0.0,7.0,7.0,0.0,0.0,0.0,0.0,15.0,0.0,38.6,6.0,29.0,29.0,29.0,15.0,15.0,65.0,22.7,45.0,45.0,OCCUPATION,7,0,7,0,0,0,INCOME,14,0,0,0,0,0,14,0,0,0,0,-,HOUSING_TENURE,14,14,0,2.50,-,VALUE,14,0,7,7,0,0,0,0,0,-,NaN,NaN,NaN,NaN,NaN,NaN
676,52140,474.0,274.0,200.0,137.0,13.0,31.0,30.0,3.0,0.0,50.0,35.0,124.0,24.0,52.0,90.0,8.0,14.0,53.2,77.0,397.0,397.0,397.0,137.0,112.0,585.0,49.5,486.0,478.0,OCCUPATION,278,133,54,20,57,14,INCOME,235,32,34,27,11,23,24,35,29,5,15,"46,467",HOUSING_TENURE,235,225,10,1.96,3.10,VALUE,225,64,42,29,16,20,13,41,0,"113,500",NaN,NaN,NaN,NaN,NaN,NaN
816,52543,540,339,201,168.7,116,52,18,23,31,111,43,107,27,12,0,0,0,31.6,196,354,344,331,0,0,331.0,31.7,219.0,208.0,OCCUPATION,326,160,38,43,0,85,INCOME,147,0,0,0,0,23,58,20,46,0,0,"63,438",HOUSING_TENURE,147,109,38,3.22,4.97,VALUE,109,0,29,41,0,28,11,0,0,"130,600",NaN,NaN,NaN,NaN,NaN,NaN
848,52588,26.0,18.0,8.0,225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,17.0,0.0,82.5,0.0,26.0,26.0,26.0,17.0,17.0,30.0,35.2,17.0,17.0,OCCUPATION,0,0,0,0,0,0,INCOME,8,0,0,0,8,0,0,0,0,0,0,-,HOUSING_TENURE,8,8,0,3.25,-,VALUE,8,0,8,0,0,0,0,0,0,-,NaN,NaN,NaN,NaN,NaN,NaN
855,52619,743.0,418.0,325.0,128.6,0.0,32.0,8.0,71.0,52.0,112.0,45.0,147.0,98.0,87.0,88.0,3.0,0.0,49.8,88.0,655.0,655.0,632.0,135.0,91.0,477.0,37.5,345.0,325.0,OCCUPATION,443,89,51,39,123,141,INCOME,307,10,17,20,40,35,84,32,69,0,0,"65,875",HOUSING_TENURE,307,217,90,2.43,2.39,VALUE,217,0,72,46,27,10,52,10,0,"122,300",NaN,NaN,NaN,NaN,NaN,NaN
876,52650,652.0,331.0,321.0,103.1,34.0,8.0,44.0,60.0,73.0,76.0,65.0,121.0,39.0,70.0,22.0,33.0,7.0,39.8,105.0,566.0,547.0,506.0,97.0,62.0,769.0,42.7,588.0,567.0,OCCUPATION,422,146,47,124,25,80,INCOME,259,11,0,12,26,18,54,61,57,20,0,"75,625",HOUSING_TENURE,259,219,40,2.50,2.63,VALUE,219,0,51,42,35,32,43,8,8,"165,900",NaN,NaN,NaN,NaN,NaN,NaN
885,52660,144.0,62.0,82.0,75.6,0.0,0.0,6.0,0.0,21.0,0.0,0.0,29.0,19.0,0.0,23.0,37.0,9.0,55.8,6.0,138.0,138.0,138.0,69.0,69.0,137.0,70.1,132.0,127.0,OCCUPATION,62,0,0,0,12,50,INCOME,71,0,0,8,42,9,0,12,0,0,0,"32,371",HOUSING_TENURE,71,42,29,2.24,1.72,VALUE,42,8,8,5,9,12,0,0,0,"150,000",NaN,NaN,NaN,NaN,NaN,NaN
891,52727,284.0,141.0,143.0,98.6,22.0,23.0,14.0,18.0,9.0,7.0,68.0,21.0,23.0,20.0,21.0,21.0,17.0,42.9,59.0,225.0,225.0,207.0,67.0,59.0,392.0,46.8,367.0,357.0,OCCUPATION,139,82,10,4,28,15,INCOME,119,4,0,9,13,31,30,0,4,28,0,"50,781",HOUSING_TENURE,119,80,39,3.00,1.13,VALUE,80,4,0,8,47,14,7,0,0,"183,600",NaN,NaN,NaN,NaN,NaN,NaN
915,52760,424.0,132.0,292.0,45.2,20.0,45.0,19.0,0.0,0.0,0.0,60.0,117.0,50.0,31.0,0.0,82.0,0.0,54.4,84.0,340.0,340.0,340.0,113.0,82.0,312.0,63.0,283.0,283.0,OCCUPATION,258,72,62,55,0,69,INCOME,231,16,0,11,26,38,56,48,0,20,16,"54,769",HOUSING_TENURE,231,217,14,1.89,-,VALUE,217,32,44,56,41,20,24,0,0,"133,700",NaN,NaN,NaN,NaN,NaN,NaN

The Shamrock Spirits

1204 Water St, Alden, IA, 50006
(515) 859-3086

In [30]:
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)

census.loc[census.Zip_Code=='50006',:].T  #shamrocks

                                                                 4
Zip_Code                                                     50006
Total_population                                             1,596
Male                                                           821
Female                                                         775
Sex_ratio_(males_per_100_females)                            105.9
Under_5_years                                                   99
5_to_9_years                                                    92
10_to_14_years                                                 130
15_to_19_years                                                  60
20_to_24_years                                                  43
25_to_34_years                                                 219
35_to_44_years                                                 235
45_to_54_years                                                 195
55_to_59_years                                                 140
60_to_64_years                                                 132
65_to_74_years                                                 127
75_to_84_years                                                  94
85_years_and_over                                               30
Median_age_(years)                                            41.4
Under_18_years                                                 362
16_years_and_over                                            1,268
18_years_and_over                                            1,234
21_years_and_over                                            1,201
62_years_and_over                                              334
65_years_and_over                                              251
Total_population_2015                                        1,556
Median_age_2015                                               44.8
18_years_and_over_2015                                       1,234
21_years_and_over_2015                                       1,192
OCCUPATION                                              OCCUPATION
Civilian_employed_population_16_years_and_over                 859
Management,_business,_science,_and_arts_occupat...             268
Service_occupations                                            118
Sales_and_office_occupations                                   168
Natural_resources,_construction,_and_maintenanc...             153
Production,_transportation,_and_material_moving...             152
INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED...          INCOME
Total_households                                               687
Less_than_$10,000                                               32
$10,000_to_$14,999                                              22
$15,000_to_$24,999                                              66
$25,000_to_$34,999                                              57
$35,000_to_$49,999                                             129
$50,000_to_$74,999                                             133
$75,000_to_$99,999                                             103
$100,000_to_$149,999                                           114
$150,000_to_$199,999                                            15
$200,000_or_more                                                16
Median_household_income_(dollars)                           56,528
HOUSING_TENURE                                      HOUSING_TENURE
Occupied_housing_units                                         687
Owner-occupied                                                 470
Renter-occupied                                                217
Average_household_size_of_owner-occupied_unit                 2.27
Average_household_size_of_renter-occupied_unit                2.45
VALUE                                                        VALUE
Owner-occupied_units                                           470
Less_than_$50,000                                               89
$50,000_to_$99,999                                             142
$100,000_to_$149,999                                           110
$150,000_to_$199,999                                            44
$200,000_to_$299,999                                            81
$300,000_to_$499,999                                             2
$500,000_to_$999,999                                             0
$1,000,000_or_more                                               2
Median_Home_Market_Value                                   101,000

In [31]:
# 50314
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)

census.loc[census.Zip_Code=='50314',:].T  #Central City Liquor, Inc.

                                                               193
Zip_Code                                                     50314
Total_population                                            11,231
Male                                                         5,377
Female                                                       5,854
Sex_ratio_(males_per_100_females)                             91.9
Under_5_years                                                  911
5_to_9_years                                                   805
10_to_14_years                                                 899
15_to_19_years                                                 941
20_to_24_years                                                 918
25_to_34_years                                               2,005
35_to_44_years                                               1,470
45_to_54_years                                               1,252
55_to_59_years                                                 639
60_to_64_years                                                 577
65_to_74_years                                                 483
75_to_84_years                                                 212
85_years_and_over                                              119
Median_age_(years)                                            29.9
Under_18_years                                               3,246
16_years_and_over                                            8,429
18_years_and_over                                            7,985
21_years_and_over                                            7,415
62_years_and_over                                            1,149
65_years_and_over                                              814
Total_population_2015                                       11,716
Median_age_2015                                               30.2
18_years_and_over_2015                                       8,174
21_years_and_over_2015                                       7,711
OCCUPATION                                              OCCUPATION
Civilian_employed_population_16_years_and_over               4,971
Management,_business,_science,_and_arts_occupat...           1,551
Service_occupations                                          1,231
Sales_and_office_occupations                                   907
Natural_resources,_construction,_and_maintenanc...             413
Production,_transportation,_and_material_moving...             869
INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED...          INCOME
Total_households                                             3,902
Less_than_$10,000                                              434
$10,000_to_$14,999                                             339
$15,000_to_$24,999                                             654
$25,000_to_$34,999                                             367
$35,000_to_$49,999                                             637
$50,000_to_$74,999                                             672
$75,000_to_$99,999                                             328
$100,000_to_$149,999                                           343
$150,000_to_$199,999                                            82
$200,000_or_more                                                46
Median_household_income_(dollars)                           39,370
HOUSING_TENURE                                      HOUSING_TENURE
Occupied_housing_units                                       3,902
Owner-occupied                                               1,512
Renter-occupied                                              2,390
Average_household_size_of_owner-occupied_unit                 3.51
Average_household_size_of_renter-occupied_unit                2.23
VALUE                                                        VALUE
Owner-occupied_units                                         1,512
Less_than_$50,000                                              264
$50,000_to_$99,999                                             593
$100,000_to_$149,999                                           242
$150,000_to_$199,999                                           183
$200,000_to_$299,999                                           194
$300,000_to_$499,999                                            26
$500,000_to_$999,999                                            10
$1,000,000_or_more                                               0
Median_Home_Market_Value                                    94,100

In [32]:
50314

50314

In [33]:
#Dyno's Wine and Spirits / Storm Lake 	50588

census.loc[census.Zip_Code=='50588',:]

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,Median_age_(years),Under_18_years,16_years_and_over,18_years_and_over,21_years_and_over,62_years_and_over,65_years_and_over,Total_population_2015,Median_age_2015,18_years_and_over_2015,21_years_and_over_2015,OCCUPATION,Civilian_employed_population_16_years_and_over,"Management,_business,_science,_and_arts_occupations",Service_occupations,Sales_and_office_occupations,"Natural_resources,_construction,_and_maintenance_occupations","Production,_transportation,_and_material_moving_occupations",INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS),Total_households,"Less_than_$10,000","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_or_more",Median_household_income_(dollars),HOUSING_TENURE,Occupied_housing_units,Owner-occupied,Renter-occupied,Average_household_size_of_owner-occupied_unit,Average_household_size_of_renter-occupied_unit,VALUE,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_Home_Market_Value
322,50588,"12,695","6,346","6,349",100.0,964,"1,005",783,"1,195","1,208","1,676","1,511","1,156",988,642,914,323,330,31.6,"3,332","9,810","9,363","8,549","1,982","1,567","12,932",32.5,"9,551","8,731",OCCUPATION,"6,437","1,475",907,995,389,"2,671",INCOME,"4,616",220,156,548,430,955,874,504,510,335,84,"49,990",HOUSING_TENURE,"4,616","2,569","2,047",2.92,2.11,VALUE,"2,569",103,637,500,722,270,234,103,0,"153,200"

In [34]:
census.loc[census.Zip_Code=='50574',:] #Dyno's Wine and Spirits / Pocahontas

,Zip_Code,Total_population,Male,Female,Sex_ratio_(males_per_100_females),Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,45_to_54_years,55_to_59_years,60_to_64_years,65_to_74_years,75_to_84_years,85_years_and_over,Median_age_(years),Under_18_years,16_years_and_over,18_years_and_over,21_years_and_over,62_years_and_over,65_years_and_over,Total_population_2015,Median_age_2015,18_years_and_over_2015,21_years_and_over_2015,OCCUPATION,Civilian_employed_population_16_years_and_over,"Management,_business,_science,_and_arts_occupations",Service_occupations,Sales_and_office_occupations,"Natural_resources,_construction,_and_maintenance_occupations","Production,_transportation,_and_material_moving_occupations",INCOME_AND_BENEFITS_(IN_2020_INFLATION-ADJUSTED_DOLLARS),Total_households,"Less_than_$10,000","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_or_more",Median_household_income_(dollars),HOUSING_TENURE,Occupied_housing_units,Owner-occupied,Renter-occupied,Average_household_size_of_owner-occupied_unit,Average_household_size_of_renter-occupied_unit,VALUE,Owner-occupied_units,"Less_than_$50,000","$50,000_to_$99,999","$100,000_to_$149,999","$150,000_to_$199,999","$200,000_to_$299,999","$300,000_to_$499,999","$500,000_to_$999,999","$1,000,000_or_more",Median_Home_Market_Value
311,50574,"1,946",903,"1,043",86.6,124,102,66,71,182,191,61,190,219,250,206,210,74,54.5,346,"1,628","1,600","1,564",643,490,"1,992",52,"1,633","1,607",OCCUPATION,998,304,207,132,104,251,INCOME,962,38,81,92,143,132,181,144,117,22,12,"48,750",HOUSING_TENURE,962,686,276,2.04,1.78,VALUE,686,145,219,121,90,74,21,7,9,"92,800"

In [35]:
square_miles_zip.reset_index()

,index,ZIP_Code,City,County,Land_Area_(Sq._Meters),Land_Area_(Sq._Miles),Land_Area_(Sq._Kilometers)
0,0,50001,"Ackworth, Sandyville",Warren County,"62,132,100",24,62
1,1,50002,Adair,"Adair County, Guthrie County","279,020,000",108,279
2,2,50003,"Adel, De Soto, Van Meter, Waukee",Dallas County,"296,262,000",114,296
3,3,50005,Albion,Marshall County,"69,351,800",27,69
4,4,50006,"Alden, Buckeye, Popejoy","Franklin County, Hardin County","317,609,000",123,318
5,5,50007,Alleman,Polk County,"13,782,900",5,14
6,6,50008,Allerton,Wayne County,"219,824,000",85,220
7,7,50009,"Altoona, Bondurant, Des Moines",Polk County,"65,155,600",25,65
8,8,50010,Ames,Story County,"155,034,000",60,155
9,9,50011,Ames,Story County,"125,094",0,0
10,10,50012,Ames,Story County,"1,972,690",1,2
11,11,50014,Ames,"Boone County, Story County","144,736,000",56,145
12,12,50020,Anita,"Adair County, Audubon County, Cass County","248,209,000",96,248
13,13,50021,"Ankeny, Saylorville",Polk County,"66,701,600",26,67
14,14,50022,Atlantic,"Audubon County, Cass County, Shelby County","431,487,000",167,431
15,15,50023,"Ankeny, Saylorville",Polk County,"57,348,100",22,57
16,16,50025,"Audubon, Gray",Audubon County,"507,431,000",196,507
17,17,50026,Bagley,"Greene County, Guthrie County","142,870,000",55,143
18,18,50027,Barnes City,"Mahaska County, Poweshiek County","72,300,500",28,72
19,19,50028,Baxter,Jasper County,"114,864,000",44,115
20,20,50029,Bayard,"Greene County, Guthrie County","104,965,000",41,105
21,21,50033,Bevington,Madison County,"288,201",0,0
22,22,50034,Blairsburg,"Hamilton County, Wright County","161,882,000",63,162
23,23,50035,"Altoona, Bondurant",Polk County,"116,772,000",45,117
24,24,50036,"Boone, Fraser",Boone County,"502,477,000",194,502
25,25,50038,Van Meter,Dallas County,"7,907,930",3,8
26,26,50039,Bouton,Dallas County,"60,629,100",23,61
27,27,50041,Bradford,Franklin County,"1,101,430",0,1
28,28,50042,Brayton,Audubon County,"83,827,800",32,84
29,29,50044,"Bussey, Hamilton","Mahaska County, Marion County, Monroe County","118,458,000",46,118
30,30,50046,"Cambridge, Huxley","Polk County, Story County","119,244,000",46,119
31,31,50047,"Carlisle, Des Moines, Hartford","Polk County, Warren County","150,552,000",58,151
32,32,50048,Casey,"Adair County, Guthrie County","226,295,000",87,226
33,33,50049,"Chariton, Williamson","Lucas County, Wayne County","520,849,000",201,521
34,34,50050,Churdan,Greene County,"197,678,000",76,198
35,35,50051,"Clemons, St. Anthony",Marshall County,"66,182,700",26,66
36,36,50052,Clio,Wayne County,"50,874,700",20,51
37,37,50054,"Colfax, Valeria",Jasper County,"151,304,000",58,151
38,38,50055,Collins,"Jasper County, Story County","126,048,000",49,126
39,39,50056,Colo,Story County,"148,882,000",57,149
40,40,50058,Coon Rapids,"Audubon County, Carroll County, Greene County,...","364,072,000",141,364
41,41,50060,Corydon,Wayne County,"452,369,000",175,452
42,42,50061,"Cumming, Norwalk, West Des Moines","Dallas County, Madison County, Polk County, Wa...","80,154,800",31,80
43,43,50062,Melcher-Dallas,Marion County,"80,081,200",31,80
44,44,50063,Dallas Center,Dallas County,"170,415,000",66,170
45,45,50064,Dana,Greene County,"40,418,900",16,40
46,46,50065,"Davis City, Pleasanton",Decatur County,"147,328,000",57,147
47,47,50066,Dawson,Dallas County,"64,261,100",25,64
48,48,50067,Decatur City,Decatur County,"86,782,200",34,87
49,49,50068,Derby,"Lucas County, Wayne County","114,688,000",44,115
50,50,50069,De Soto,Dallas County,"13,262,500",5,13
51,51,50070,"Dexter, Diamondhead Lake","Adair County, Dallas County, Guthrie County, M...","170,639,000",66,171
52,52,50071,Dows,"Franklin County, Wright County","292,777,000",113,293
53,53,50072,"Dexter, Earlham","Dallas County, Madison County","228,459,000",88,228
54,54,50073,Elkhart,Polk County,"67,244,100",26,67
55,55,50074,"Beaconsfield, Ellston, Sun Valley Lake","Ringgold County, Union County","125,812,000",49,126
56,56,50075,Ellsworth,Hamilton County,"119,362,000",46,119
57,57,50076,Exira,Audubon County,"289,966,000",112,290
58,58,50078,Ferguson,Marshall County,"660,699",0,1
59,59,50101,Galt,Wright County,"25,431,200",10,25
60,60,50102,Garden City,Hardin County,"1,304,960",1,1
61,61,50103,"Garden Grove, Le Roy",Decatur County,"157,259,000",61,157
62,62,50104,Gibson,"Keokuk County, Mahaska County","28,940,600",11,29
63,63,50105,Gilbert,Story County,"20,560,400",8,21
64,64,50106,Gilman,"Jasper County, Marshall County, Poweshiek Coun...","170,042,000",66,170
65,65,50107,Grand Junction,"Boone County, Greene County","130,323,000",50,130
66,66,50108,Grand River,"Clarke County, Decatur County","188,444,000",73,188
67,67,50109,"Granger, Johnston","Dallas County, Polk County","56,668,500",22,57
68,68,50111,"Grimes, Johnston, Urbandale","Dallas County, Polk County","71,187,400",27,71
69,69,50112,"Grinnell, Oakland Acres","Jasper County, Poweshiek County","475,237,000",183,475
70,70,50115,"Guthrie Center, Lake Panorama",Guthrie County,"440,966,000",170,441
71,71,50116,"Hamilton, Marysville",Marion County,"44,059,100",17,44
72,72,50118,Hartford,Warren County,"49,691,700",19,50
73,73,50119,Harvey,Marion County,"39,608,500",15,40
74,74,50120,Haverhill,Marshall County,"43,941,400",17,44
75,75,50122,Hubbard,Hardin County,"218,555,000",84,219
76,76,50123,Humeston,"Decatur County, Lucas County, Wayne County","204,315,000",79,204
77,77,50124,Huxley,"Polk County, Story County","54,098,700",21,54
78,78,50125,"Indianola, Spring Hill",Warren County,"423,849,000",164,424
79,79,50126,"Bradford, Iowa Falls, Owasa","Franklin County, Hardin County","351,533,000",136,352
80,80,50128,Jamaica,"Dallas County, Greene County, Guthrie County","75,688,800",29,76
81,81,50129,Jefferson,Greene County,"434,205,000",168,434
82,82,50130,Jewell Junction,Hamilton County,"170,595,000",66,171
83,83,50131,"Grimes, Johnston, Urbandale",Polk County,"56,477,700",22,56
84,84,50132,Kamrar,Hamilton County,"74,609,300",29,75
85,85,50133,Kellerton,"Decatur County, Ringgold County","195,971,000",76,196
86,86,50134,Kelley,"Boone County, Story County","48,427,700",19,48
87,87,50135,Kellogg,Jasper County,"192,732,000",74,193
88,88,50136,"Keswick, Thornburg","Iowa County, Keokuk County","100,597,000",39,101
89,89,50138,Knoxville,Marion County,"442,220,000",171,442
90,90,50139,Lacona,"Lucas County, Marion County, Warren County","229,328,000",89,229
91,91,50140,Lamoni,"Decatur County, Ringgold County","239,713,000",93,240
92,92,50141,Laurel,"Jasper County, Marshall County","93,619,400",36,94
93,93,50142,Le Grand,Marshall County,"2,566,680",1,3
94,94,50143,Leighton,Mahaska County,"92,510,400",36,93
95,95,50144,"Decatur City, Leon",Decatur County,"361,464,000",140,361
96,96,50146,Linden,Dallas County,"75,846,000",29,76
97,97,50147,Lineville,"Decatur County, Wayne County","187,377,000",72,187
98,98,50148,Liscomb,Marshall County,"51,098,100",20,51
99,99,50149,Lorimor,"Madison County, Union County","213,331,000",82,213
100,100,50150,Lovilia,Monroe County,"147,922,000",57,148
101,101,50151,Lucas,"Lucas County, Warren County","205,301,000",79,205
102,102,50153,Lynnville,"Jasper County, Mahaska County, Poweshiek County","80,343,000",31,80
103,103,50154,McCallsburg,"Hardin County, Story County","53,144,200",21,53
104,104,50155,Macksburg,"Adair County, Madison County","78,465,700",30,78
105,105,50156,"Luther, Madrid","Boone County, Dallas County, Polk County","232,316,000",90,232
106,106,50157,Malcom,Poweshiek County,"168,306,000",65,168
107,107,50158,"Green Mountain, Le Grand, Marshall","Marshall County, Tama County","547,770,000",211,548
108,108,50160,Martensdale,Warren County,"965,184",0,1
109,109,50161,Maxwell,"Polk County, Story County","210,950,000",81,211
110,110,50162,Melbourne,Marshall County,"132,095,000",51,132
111,111,50163,Melcher-Dallas,Marion County,"1,230,060",0,1
112,112,50164,Menlo,"Adair County, Guthrie County","137,993,000",53,138
113,113,50165,Millerton,Wayne County,"6,437,630",2,6
114,114,50166,"Milo, Sandyville",Warren County,"162,193,000",63,162
115,115,50167,Minburn,Dallas County,"102,105,000",39,102
116,116,50168,Mingo,Jasper County,"104,678,000",40,105
117,117,50169,Mitchellville,"Jasper County, Polk County","103,076,000",40,103
118,118,50170,Monroe,"Jasper County, Marion County","227,973,000",88,228
119,119,50171,"Barnes City, Montezuma",Poweshiek County,"279,932,000",108,280
120,120,50173,Montour,Tama County,"79,810,300",31,80
121,121,50174,Murray,"Clarke County, Union County","278,523,000",108,279
122,122,50201,Nevada,Story County,"300,072,000",116,300
123,123,50206,New Providence,"Hardin County, Marshall County, Story County","124,113,000",48,124
124,124,50207,New Sharon,"Mahaska County, Poweshiek County","366,330,000",141,366
125,125,50208,"Lambs Grove, Newton",Jasper County,"425,425,000",164,425
126,126,50210,New Virginia,"Clarke County, Madison County, Warren County","196,407,000",76,196
127,127,50211,"Cumming, Des Moines, Norwalk","Madison County, Warren County","145,672,000",56,146
128,128,50212,"Beaver, Ogden",Boone County,"351,663,000",136,352
129,129,50213,Osceola,Clarke County,"542,667,000",210,543
130,130,50216,"Lake Panorama, Panora",Guthrie County,"140,455,000",54,140
131,131,50217,"Boxholm, Paton","Boone County, Greene County","178,588,000",69,179
132,132,50218,Patterson,Madison County,"542,828",0,1
133,133,50219,Pella,"Mahaska County, Marion County","304,040,000",117,304
134,134,50220,"Berkley, Perry","Boone County, Dallas County, Greene County","266,703,000",103,267
135,135,50222,East Peru,Madison County,"108,352,000",42,108
136,136,50223,"Boxholm, Fraser, Pilot Mound",Boone County,"76,048,300",29,76
137,137,50225,Pleasantville,"Marion County, Warren County","216,053,000",83,216
138,138,50226,"Ankeny, Polk City, Sheldahl","Polk County, Story County","97,069,600",37,97
139,139,50227,Popejoy,Franklin County,"966,375",0,1
140,140,50228,Prairie City,"Jasper County, Marion County","180,307,000",70,180
141,141,50229,"Bevington, Patterson","Madison County, Warren County","105,357,000",41,105
142,142,50230,"Garden City, Radcliffe","Hamilton County, Hardin County","223,892,000",86,224
143,143,50231,Randall,Hamilton County,"1,065,170",0,1
144,144,50232,Reasnor,Jasper County,"86,216,300",33,86
145,145,50233,Redfield,"Dallas County, Guthrie County","130,641,000",50,131
146,146,50234,Rhodes,"Jasper County, Marshall County","80,969,900",31,81
147,147,50235,Rippey,"Boone County, Dallas County, Greene County","120,716,000",47,121
148,148,50236,Roland,Story County,"89,328,900",34,89
149,149,50237,Runnells,"Jasper County, Marion County, Polk County","143,182,000",55,143
150,150,50238,Russell,"Lucas County, Wayne County","301,463,000",116,301
151,151,50239,St. Anthony,Marshall County,"43,994,100",17,44
152,152,50240,"Bevington, Martensdale, St. Charles, St. Marys","Madison County, Warren County","197,057,000",76,197
153,153,50242,Searsboro,Poweshiek County,"106,817,000",41,107
154,154,50243,"Sheldahl, Slater","Polk County, Story County","1,425,490",1,1
155,155,50244,"Alleman, Sheldahl, Slater","Boone County, Polk County, Story County","57,130,200",22,57
156,156,50246,Stanhope,Hamilton County,"120,139,000",46,120
157,157,50247,State Center,"Marshall County, Story County","215,688,000",83,216
158,158,50248,Story City,"Boone County, Hamilton County, Story County","211,484,000",82,211
159,159,50249,Stratford,"Boone County, Hamilton County, Webster County","201,481,000",78,201
160,160,50250,Stuart,"Adair County, Guthrie County","264,920,000",102,265
161,161,50251,Sully,Jasper County,"104,731,000",40,105
162,162,50252,Swan,Marion County,"22,129,300",9,22
163,163,50254,Thayer,Union County,"113,421,000",44,113
164,164,50255,Thornburg,Keokuk County,"456,756",0,0
165,165,50257,Truro,"Clarke County, Madison County, Warren County","103,297,000",40,103
166,166,50258,"Union, Whitten","Hardin County, Marshall County","139,020,000",54,139
167,167,50261,"De Soto, Van Meter","Dallas County, Madison County","171,582,000",66,172
168,168,50262,Van Wert,Decatur County,"83,675,800",32,84
169,169,50263,"Clive, Urbandale, Waukee, West Des Moines",Dallas County,"89,811,200",35,90
170,170,50264,"Le Roy, Weldon","Clarke County, Decatur County","174,278,000",67,174
171,171,50265,West Des Moines,Polk County,"44,379,900",17,44
172,172,50266,West Des Moines,"Dallas County, Polk County","42,782,800",17,43
173,173,50268,What Cheer,"Keokuk County, Mahaska County","123,395,000",48,123
174,174,50271,Williams,"Hamilton County, Wright County","172,820,000",67,173
175,175,50272,Williamson,Lucas County,"1,922,110",1,2
176,176,50273,Winterset,Madison County,"518,735,000",200,519
177,177,50274,Wiota,Cass County,"129,896,000",50,130
178,178,50275,Woodburn,Clarke County,"131,850,000",51,132
179,179,50276,Woodward,"Boone County, Dallas County","208,198,000",80,208
180,180,50277,"Lake Panorama, Yale","Dallas County, Guthrie County","104,453,000",40,104
181,181,50278,Zearing,Story County,"138,822,000",54,139
182,182,50309,Des Moines,Polk County,"7,348,590",3,7
183,183,50310,"Des Moines, Urbandale",Polk County,"20,861,400",8,21
184,184,50311,Des Moines,Polk County,"6,511,830",3,7
185,185,50312,Des Moines,Polk County,"14,709,300",6,15
186,186,50313,"Ankeny, Des Moines, Saylorville",Polk County,"46,753,200",18,47
187,187,50314,Des Moines,Polk County,"6,439,450",2,6
188,188,50315,Des Moines,Polk County,"25,951,300",10,26
189,189,50316,Des Moines,Polk County,"9,215,180",4,9
190,190,50317,"Altoona, Des Moines",Polk County,"59,339,300",23,59
191,191,50319,Des Moines,Polk County,"213,707",0,0
192,192,50320,Des Moines,"Polk County, Warren County","48,336,200",19,48
193,193,50321,"Des Moines, Norwalk, West Des Moines",Polk County,"30,606,500",12,31
194,194,50322,"Clive, Des Moines, Johnston, Urbandale",Polk County,"27,877,200",11,28
195,195,50323,"Clive, Urbandale","Dallas County, Polk County","19,984,100",8,20
196,196,50324,"Clive, Windsor Heights",Polk County,"3,740,280",1,4
197,197,50325,"Clive, Urbandale, Waukee, Windsor Heights","Dallas County, Polk County","19,913,300",8,20
198,198,50327,"Altoona, Des Moines, Pleasant Hill",Polk County,"48,669,500",19,49
199,199,50401,"Mason City, Plymouth, Portland, Rock Falls",Cerro Gordo County,"386,331,000",149,386
200,200,50420,Alexander,"Franklin County, Wright County","117,257,000",45,117
201,201,50421,Belmond,Wright County,"232,430,000",90,232
202,202,50423,"Britt, Duncan, Hutchins",Hancock County,"374,229,000",144,374
203,203,50424,Buffalo Center,"Kossuth County, Winnebago County","315,855,000",122,316
204,204,50426,Carpenter,Mitchell County,"60,113",0,0
205,205,50428,"Clear Lake, Ventura",Cerro Gordo County,"306,745,000",118,307
206,206,50430,Corwith,"Hancock County, Kossuth County","160,984,000",62,161
207,207,50431,Coulter,Franklin County,"1,936,780",1,2
208,208,50432,Crystal Lake,Hancock County,"1,127,710",0,1
209,209,50433,Dougherty,"Butler County, Cerro Gordo County, Floyd Count...","125,889,000",49,126
210,210,50434,Fertile,"Cerro Gordo County, Worth County","23,249,300",9,23
211,211,50435,Floyd,Floyd County,"105,304,000",41,105
212,212,50436,"Crystal Lake, Forest City","Hancock County, Winnebago County","352,541,000",136,353
213,213,50438,"Duncan, Garner, Hayfield, Miller",Hancock County,"342,478,000",132,342
214,214,50439,Goodell,Hancock County,"84,616,300",33,85
215,215,50440,Grafton,Worth County,"80,662,400",31,81
216,216,50441,"Bradford, Coulter, Hampton, Hansell",Franklin County,"395,173,000",153,395
217,217,50444,Hanlon,"Cerro Gordo County, Worth County","55,947,800",22,56
218,218,50446,Joice,"Winnebago County, Worth County","108,697,000",42,109
219,219,50447,Kanawha,"Hancock County, Wright County","260,076,000",100,260
220,220,50448,"Bolan, Kensett",Worth County,"160,124,000",62,160
221,221,50449,Klemme,"Cerro Gordo County, Hancock County","94,989,400",37,95
222,222,50450,"Lake Mills, Scarville","Winnebago County, Worth County","209,813,000",81,210
223,223,50451,Lakota,Kossuth County,"164,502,000",64,165
224,224,50452,"Coulter, Latimer",Franklin County,"127,238,000",49,127
225,225,50453,Leland,Winnebago County,"114,170,000",44,114
226,226,50454,Little Cedar,Mitchell County,"44,766,400",17,45
227,227,50455,"McIntire, Meyer",Mitchell County,"84,207,500",33,84
228,228,50456,Manly,Worth County,"120,416,000",46,120
229,229,50457,Meservey,"Cerro Gordo County, Franklin County, Hancock C...","88,503,700",34,89
230,230,50458,"Nora Springs, Portland","Cerro Gordo County, Floyd County, Mitchell County","190,715,000",74,191
231,231,50459,Northwood,Worth County,"373,316,000",144,373
232,232,50460,Orchard,"Floyd County, Mitchell County","93,166,200",36,93
233,233,50461,"Mitchell, New Haven, Osage","Floyd County, Mitchell County","446,117,000",172,446
234,234,50464,Plymouth,"Cerro Gordo County, Worth County","61,009,300",24,61
235,235,50465,Rake,Winnebago County,"9,497,220",4,9
236,236,50466,Riceville,"Howard County, Mitchell County","354,076,000",137,354
237,237,50467,Rock Falls,Cerro Gordo County,"709,984",0,1
238,238,50468,"Rockford, Roseville","Cerro Gordo County, Floyd County","256,180,000",99,256
239,239,50469,"Burchinal, Rockwell",Cerro Gordo County,"227,804,000",88,228
240,240,50470,"Galt, Rowan",Wright County,"62,885,200",24,63
241,241,50471,Rudd,"Floyd County, Mitchell County","110,089,000",43,110
242,242,50472,"Carpenter, Mona, Otranto, St. Ansgar, Toeterville","Mitchell County, Worth County","315,722,000",122,316
243,243,50473,Scarville,Winnebago County,"95,399,900",37,95
244,244,50475,"Chapin, Sheffield","Cerro Gordo County, Franklin County","231,013,000",89,231
245,245,50476,Stacyville,Mitchell County,"101,621,000",39,102
246,246,50477,Swaledale,Cerro Gordo County,"58,455,900",23,58
247,247,50478,Thompson,Winnebago County,"191,508,000",74,192
248,248,50479,Thornton,"Cerro Gordo County, Franklin County","150,266,000",58,150
249,249,50480,Titonka,"Hancock County, Kossuth County","162,227,000",63,162
250,250,50482,Ventura,"Cerro Gordo County, Hancock County","74,538,700",29,75
251,251,50483,"St. Benedict, Wesley","Hancock County, Kossuth County","198,210,000",77,198
252,252,50484,Woden,"Hancock County, Kossuth County, Winnebago County","113,540,000",44,114
253,253,50501,"Coalville, Fort Dodge",Webster County,"403,940,000",156,404
254,254,50510,Albert City,"Buena Vista County, Pocahontas County","219,101,000",85,219
255,255,50511,"Algona, Sexton, St. Benedict",Kossuth County,"321,026,000",124,321
256,256,50514,Armstrong,"Emmet County, Kossuth County","285,570,000",110,286
257,257,50515,Ayrshire,"Clay County, Palo Alto County","95,985,300",37,96
258,258,50516,Badger,"Humboldt County, Webster County","63,843,700",25,64
259,259,50517,Bancroft,Kossuth County,"196,452,000",76,196
260,260,50518,Barnum,Webster County,"80,803,700",31,81
261,261,50519,"Bode, St. Joseph","Humboldt County, Kossuth County","142,396,000",55,142
262,262,50520,Bradgate,"Humboldt County, Pocahontas County","61,318,400",24,61
263,263,50522,Burt,Kossuth County,"175,965,000",68,176
264,264,50523,Callender,Webster County,"109,191,000",42,109
265,265,50524,Clare,"Pocahontas County, Webster County","148,455,000",57,148
266,266,50525,Clarion,Wright County,"361,365,000",140,361
267,267,50527,Curlew,Palo Alto County,"141,597,000",55,142
268,268,50528,Cylinder,Palo Alto County,"191,697,000",74,192
269,269,50529,Dakota City,Humboldt County,"1,404,540",1,1
270,270,50530,Dayton,"Boone County, Webster County","167,470,000",65,167
271,271,50531,Dolliver,Emmet County,"96,657,700",37,97
272,272,50532,Duncombe,"Hamilton County, Webster County","181,265,000",70,181
273,273,50533,"Eagle Grove, Goldfield","Humboldt County, Webster County, Wright County","258,503,000",100,259
274,274,50535,Early,Sac County,"157,944,000",61,158
275,275,50536,Emmetsburg,Palo Alto County,"366,256,000",141,366
276,276,50538,Farnhamville,"Calhoun County, Webster County","80,872,100",31,81
277,277,50539,Fenton,"Kossuth County, Palo Alto County","139,539,000",54,140
278,278,50540,"Fonda, Varina","Calhoun County, Pocahontas County","274,522,000",106,275

In [36]:
square_miles_zip.loc[square_miles_zip.ZIP_Code=='50588',:]

,ZIP_Code,City,County,Land_Area_(Sq._Meters),Land_Area_(Sq._Miles),Land_Area_(Sq._Kilometers)
315,50588,"Lakeside, Storm Lake, Truesdale",Buena Vista County,"356,362,000",138,356

In [37]:
square_miles_zip.loc[square_miles_zip.ZIP_Code=='50006',:] #shamrocks

,ZIP_Code,City,County,Land_Area_(Sq._Meters),Land_Area_(Sq._Miles),Land_Area_(Sq._Kilometers)
4,50006,"Alden, Buckeye, Popejoy","Franklin County, Hardin County","317,609,000",123,318